DEBUG=false

# Monitoring
SENTRY_DSN=https://pubkey@host/project_id
SENTRY_ENVIRONMENT=development

# Sources

# Ouest France
OUESTFRANCE_AZP=bms-sso-login
OUESTFRANCE_REFRESH_TOKEN=ey...

# Mediapart
PIERREVIVES_USERNAME=username
PIERREVIVES_PASSWORD=password

# Socialter
ENABLE_SA=false