{% extends "base.html" %}

{% block head %}
<meta property="og:type" content="article">
<meta property="og:title" content="{{ article.headline }}">
<meta property="og:description" content="{{ article.subheadline }}">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:image" content="{{ article.image }}">
{% endblock %}

{% block content %}
<article>
    <header>
        <h1><a href="{{ article.url }}" target="_blank" rel="noreferrer">{{ article.headline }}</a></h1>
        <div class="subheadline">{{ article.subheadline|safe }}</div>
    </header>

    <div id="content">
        {{ article.content|safe }}
    </div>
</article>
{% endblock %}
