{% extends "base.html" %}

{% block head %}
<meta property="og:type" content="article">
<meta property="og:title" content="{{ article.headline }}">
<meta property="og:description" content="{{ article.subheadline }}">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:image" content="{{ article.image }}">
<script src="{{ url_for('static', filename='js/lightbox.js') }}"></script>
<script src="{{ url_for('static', filename='js/print.js') }}"></script>
<link href="{{ url_for('static', filename='css/lightbox.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<article>
    <header>
        <h1><a href="{{ article.url }}" target="_blank" rel="noreferrer">{% if article.FAVICON %}<img class="provider-icon" src="{{ article.FAVICON }}" title="{{ article.PROVIDER }}">{% endif %}{{ article.headline }}</a></h1>
        <div class="subheadline">{{ article.subheadline|safe }}</div>
        {% if debug %}
        <div class="debug-section">
            <a target="_blank" href="./{{ article.raw_id }}/raw">↗</a>
            {% if viewable %} <a target="_blank" href="./{{ article.raw_id }}/view">👁</a>{% endif %}
        </div>
        {% endif %}
    </header>

    <div id="content">
        {{ article.content|safe }}
    </div>
</article>
{% endblock %}
