<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wall Breakers</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.svg') }}" sizes="any" type="image/svg+xml">
    <meta property="og:site_name" content="Wall breakers">
    {% block head %}{% endblock %}
</head>
<body>
    <nav><a href="/">Wall Breakers</a></nav>
    {% block content %}{% endblock %}
    <footer>
        <small>
        {% if git_sha == "development" %}
            Built at {{ "%02d:%02d"|format(build_ts.hour, build_ts.minute) }}
        {% else %}
            Built on <a href="https://github.com/MathiasDPX/wall-breakers/commit/{{ git_sha }}" target="_blank">{{ git_sha[:7] }}</a>
        {% endif %}
        </small>
    </footer>
</body>
</html>