{% extends "base.html" %}

{% block head %}
<meta property="og:type" content="website">
<meta property="og:title" content="Wall Breaekers">
<meta property="og:description" content="{{ exception.code }} - {{ exception.name }}">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:image" content="{{ url_for('static', filename='images/thumbnail.jpg') }}">
{% endblock %}

{% block content %}
<style>
h1 {
    text-align: center;
    font-size: 1500%;
    font-family: "Newsreader", serif;
    margin-bottom: 0;
}

label {
    text-align: center;
    width: 100%;
    display: block;
}
</style>

<div class="main">
    <h1>{{ exception.code }}</h1>
    <label>{{ exception.name }} - {{ exception.description }}</label>
</div>
{% endblock %}