{% extends "base.html" %}

{% block head %}
<meta property="og:type" content="website">
<meta property="og:title" content="Wall Breakers">
<meta property="og:description" content="{{ code }} - {{ name }}">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:image" content="{{ url_for('static', filename='images/thumbnail.jpg') }}">
{% endblock %}

{% block content %}
<div class="main error-page">
    <h1>{{ code }}</h1>
    <p>{{ name }} - {{ description }}</p>
</div>
{% endblock %}
