{% extends "base.html" %}

{% block head %}
<meta property="og:type" content="website">
<meta property="og:title" content="Wall Breaekers">
<meta property="og:description" content="Blow up paywalls with 💣">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:image" content="{{ url_for('static', filename='images/thumbnail.jpg') }}">
{% endblock %}

{% block content %}
<div class="main">
    <input id="searchInput" placeholder="Link to the original article" type="text" autofocus>
    <p id="feedback" class="error"></p>

    <p>Supported sources:</p>
    <ul>
        <li>Le Parisien (leparisien.fr)</li>
        <li>Le Monde (lemonde.fr)</li>
        <li>New York Times (nytimes.com)</li>
        <li>Washington Post (washingtonpost.com)</li>
        <li>Le Télégramme (letelegramme.fr)</li>
        <li>Les Echos (lesechos.fr)</li>
        <li>The Athletic (nytimes.com/athletic)</li>
        <li>Le JDD (lejdd.fr)</li>
        <li>Le Figaro (lefigaro.fr)</li>
    </ul>
</div>


<script>
const inputNode = document.getElementById("searchInput");
const feedbackNode = document.getElementById("feedback")

inputNode.addEventListener("keyup", function (event) {
    if (event.key === "Enter") {
        const params = new URLSearchParams({
            'url': inputNode.value
        });
        feedbackNode.classList.remove('success');
        feedbackNode.classList.remove('error');

        fetch(`/api/getId?${params}`)
            .then(response => response.json())
            .then(data => {
                if (data.success === false) {
                    feedbackNode.classList.add('error');
                    feedbackNode.innerText = `Failed to redirect: ${data.message}`;
                } else {
                    feedbackNode.classList.add('success');
                    feedbackNode.innerText = `Redirecting to ${data.provider}...`;
                    window.location.replace(data.url)
                }
            })
            .catch(error => {
                feedbackNode.classList.add('error');
                feedbackNode.innerText = `Failed to redirect: ${error}`;
            })
    }
});
</script>
{% endblock %}